@charset "utf-8";
body {
    margin:0;
    width: 100%;
    position: absolute;
}
#logopic{
    display: block;
    width:200px;
    margin: auto;
}
#cod-chestionar {
    float:right;
    position:relative;
    margin-bottom: 10px;
	margin-right: 80px;;
    font-size: 12px;
	width: 20%;
}

.header {
    width:80%;
    margin:auto;
    clear:both;
    border: solid 1px black;
    background-color: #D3D3D3;
    padding: 0px 5px;
    font-size: 11px;
    margin-bottom: 35px;
}
.header p:first-child {
    font-style: italic;
    font-weight: bold;
}
.roman-number-title {
    width: 82%;
    margin: 0 auto;
    font-size: 18px;
    color: white;
    background-color:black;
    padding-top:1px;
}
.roman-number-title p {
    font-weight: bold;
    margin: 0px;
    padding: 3px;
}
#first-border {
    background-color: #D3D3D3;
    height: 23px;
    width: 82%;
    margin: 15px auto 3px;
    border-bottom: solid 1px black;
}
table {
    width:84%;
    margin: auto;
    margin-bottom: 42px;
}
th {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
span {
    color: red;
}
.sectiune{
    width:82%;
    margin:auto;

}
.sectiune p:first-child{
    background-color: #a7a7a7;
    margin-top: 35px;
    padding: 3px 2px;
    border-bottom: solid 1px;
}
.sectiune p:nth-child(2){
    margin-top: 20px;
    font-size: 10px;
}
.container-sectiune{
    margin-left: -25px;
}
.container-sectiune li {
    padding-bottom: 12px;
    font-size: 14px;
}
input {
    margin-top: 7px;
    margin-left: 8px;
    height: 10px;
    width: 100px;
}

#sectionB li{
	font-weight: bold;

}

#sectionB li label{
	font-weight: normal;
}
/*.radioicons br{
	font-size: 130%;
}*/
.radioicons label {
	position: absolute;
	padding-bottom: 2px;
	display: inline;
	width: 82%;
	margin: auto;
}
.radioicons input {
	width:auto;
	margin-left:3px;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 20px;
}
input[type=radio] {
    height: 20px !important;
    width:20px !important;
    margin-top: -3px !important;
}
.second-table {
	width: 97%;
	margin: 30px;
}
p1 {
	margin-left: 25px;
}
textarea {
	margin-top: 5px;
	margin-left: 50px;
	margin-right: -30px;
}
#lafinal {
	width: 80%;
	margin: 5px auto;
}
.third-table{
	width: 80%;
	margin: 20px auto;
}
.footer {
    width: 80%;
	margin: 40px auto;
	background-color: #D3D3D3;
	padding: 1px 10px;
	border: solid 2px;
}
.footer p {
	clear: both;
}
#lastline {
	margin-top: -10px;
}
.left {
    width: 40%;
    float:left;
}
.right {
    width: 60%;
    float:right;
}
#button {
	text-align: center;
	padding-bottom: 30px;
}
#button button {
	width: 150px;
	height: 50px;
}